<h4 class="m-b">
  Posts
  <small class="text-muted"> <%= @posts.count %></small>
</h4>
<hr>

<%= render 'form' %>

<%- if @posts.empty? %>
  <div class="text-muted">
    <p>No posts yet</p>
  </div>
<% else %>
  <%= render @posts %>
<% end %>
