body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pull-right {
  display: inline;
  float: right;
}

.brand-name {
  display: inline;
}

.app-content {
  margin: 50px 0;
}

.m-b {
  margin-bottom: 20px;
}
